name: CI - Lint & Test

on:
  pull_request:
    branches: [main]
    paths:
      - 'api/**'
      - 'frontend/**'
      - 'shared/**'
  push:
    branches: [main]
    paths:
      - 'api/**'
      - 'frontend/**'
      - 'shared/**'
  workflow_dispatch:

env:
  NODE_VERSION: 24

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install dependencies and run lint
        run: |
          npm ci
          npm run lint

  test-api:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install dependencies
        run: |
          npm ci --prefix api
          npm run test --prefix api

  test-frontend:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install dependencies and run test
        run: |
          npm ci --prefix frontend
          npm run test --prefix frontend